<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find simple_diff_drive_simulator)/urdf/robot.urdf.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder" />
  <arg name="rvizconfig" default="$(find simple_diff_drive_simulator)/config/simulation.rviz" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simple_diff_drive_simulator)/worlds/room.world" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -x 0.0 -y 0.0 -z 0.5 -R 0 -P 0 -Y 0 -urdf -model simple_diff_drive" />

  <rosparam command="load" file="$(find simple_diff_drive_simulator)/config/diff_drive_controller.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="diff_drive_controller" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
    <param name="rate" value="30" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig) -f odom" required="true" />

</launch>